
<nav class="navbar navbar-expand-lg  bg-dark">
  <div class="container-fluid container">
    <a class="navbar-brand text-white" [routerLink]="['/']">
      <img src="/assets/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
       Currency Convert
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarText">
      <div class="container-fluid justify-content-end">
        <a [routerLink]="['/currency-details','EUR','USD']" class="btn btn-sm btn-outline-light me-2" >
          EUR-USD Details
        </a>
        <a [routerLink]="['/currency-details','EUR','GBP']"  class="btn btn-sm btn-outline-light">
          EUR-GBP Details
        </a>
      </div>
    </div>
  </div>
</nav>

<div>
  <router-outlet>

  </router-outlet>
</div>
