<div class="row py-2">
  <h4 class="page-header col" *ngIf="fromCurrency">
    {{fromCurrency}} - {{returnCurrencyName}}
  </h4>
  <div class="col text-end align-self-center">
    <a [routerLink]="['/']" class="btn btn-primary">
      <i class="bi bi-back"></i> Back to Home
    </a>
  </div>
</div>

<h4 *ngIf="!fromCurrency">Currency Converter</h4>
<div class="card p-3">
  <form [formGroup]="conversionForm" (ngSubmit)="getConversion()">
    <div class="row ">
      <div class="col-md-4 col-12 py-1">
        <div class="">
          <label class="fw-bold py-1">Amount</label>
          <input class="form-control"
                 [class.border-danger]="submitted && conversionFormControl['amount'].errors"
                 placeholder="input amount" formControlName="amount">
          <div *ngIf="submitted && conversionFormControl['amount'].errors"
               [style.display]="'block'" class="invalid-feedback">

            <div *ngIf="conversionFormControl['amount'].errors['required']">
              Amount is required
            </div>
            <div *ngIf="conversionFormControl['amount'].errors['pattern']">
              Please enter a valid amount
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-md-4 col-12 py-1">
            <label class="fw-bold py-1">From</label>
            <select class="form-control "
                    [class.border-danger]="submitted && conversionFormControl['from'].errors"
                    [attr.disabled]="fromCurrency"
                    formControlName="from">
              <option></option>
              <option *ngFor="let currency of getCurrencyKeys"
                      [value]="currency"
              >
                {{currency}}
              </option>
            </select>
            <div *ngIf="submitted && conversionFormControl['from'].errors"
                 [style.display]="'block'" class="invalid-feedback">

              <div *ngIf="conversionFormControl['from'].errors['required']">
                From currency is required
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 py-1 align-self-end text-center"

          >
                <span class="btn btn-outline-secondary pt-md-2"
                      (click)="toggleCurrencies()"
                      [title]="'Click to toggle currencies'">
                  <i class="bi bi-arrow-left-right"></i>
                </span>

          </div>
          <div class="col-12 col-md-4 py-1">
            <label class="fw-bold py-1">To</label>
            <select class="form-control"
                    [class.border-danger]="submitted && conversionFormControl['to'].errors"
                    formControlName="to">
              <option></option>
              <option *ngFor="let currency of getCurrencyKeys"
                      [value]="currency"
              >
                {{currency}}
              </option>
            </select>
            <div *ngIf="submitted && conversionFormControl['to'].errors"
                 [style.display]="'block'" class="invalid-feedback">

              <div *ngIf="conversionFormControl['to'].errors['required']">
                To currency is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col py-2">
            <button class="btn btn-primary btn-lg w-100" type="submit"
                    [disabled]="isConverting||conversionForm.invalid">
              <div class="spinner-border text-white spinner-border-sm" role="status" *ngIf="isConverting">
                <span class="visually-hidden">Loading...</span>
              </div>
              Convert
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>


  <div class="row" *ngIf="currencyDetails&&!isConverting">
    <div class="col-12 col-md-4 align-self-center">
      <div class="card p-2 text-center">
        1 {{currencyDetails?.query.from}} = {{currencyDetails?.info.rate| currency : currencyDetails?.query.to + " "}}
      </div>
    </div>
    <div class="col-12  py-1 py-md-0"
         [class.col-md-4]="showMoreLink"
         [class.col-md-8]="!showMoreLink">
      <div class="card p-4 text-center  fs-2">
        {{currencyDetails?.result| currency : currencyDetails?.query.to + " "}}
      </div>
    </div>
    <div class="col-12 col-md-4 py-1 py-md-0 align-self-center" *ngIf="showMoreLink">
      <a class="btn btn-primary w-100 text-decoration-none"
         [routerLink]="['currency-details',currencyDetails?.query.from,currencyDetails?.query.to]">More details</a>
    </div>
  </div>
</div>
