<section>
  <div class="container pt-3">
    <h4>Currency Converter</h4>
    <app-conversion-form
    (conversionEmitter)="updateCurrentConversionObject($event)"
    ></app-conversion-form>
    <div class=" py-2">
      <div class="row" *ngIf="currentConversionObject">
        <div class="col-12 col-md-4 py-2" *ngFor="let ar of arr">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{currentConversionObject?.query.to}}
              </h5>
              <div class="card-text pb-2">
                <small class="text-muted">1 {{currentConversionObject?.query.from}} = {{currentConversionObject?.info.rate}} {{currentConversionObject?.query.to}}</small>
                <div class="fw-bold fs-5">
                  {{currentConversionObject?.result|currency:currentConversionObject?.query.to+" "}} </div>
              </div>
              <a href="#" class="btn btn-primary">More details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
